[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller-template = {editable = true,path = "."}
setuptools = "<45.0.0"

[dev-packages]
isort = "*"
pre-commit = "*"
black = {ref = "19.3b0",git = "https://github.com/ambv/black.git"}
autopep8 = "*"
pylint = "*"
pytest-mock = "*"
deepdiff = "*"
pytest = "*"

[requires]
python_version = "3.7.6"
